

/* ------------------------  HERO ----------------------------------- */
section.hero-site{
    background-image: url(../imgs/pessoaFisica.jpg);
}
/* ------------------------ /HERO ------------------------------------ */
