
/* ------------------------ ROOT ------------------------------------- */
:root {
    --primary-color: #13898E;
    --white: #ffffff;
    --gray-400: #9ca4ab;
    --gray-100: #dedede;
    --christi-400: #80d14a;
    --christi-300: #a2e175;
    --christi-500: #59a928;
    --black-700: #212121;
    --black-800: #0d0c0f;
    --gray-500: rgba(85, 85, 85, 0.55);
    --dove-gray-900: #3d3d3d;
    --shadown-1: #070707;
    --primary-font: 'Poppins', sans-serif;
}
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}
main{
    height: 500vh;
}
.interface{
    width: 100%;
    padding: 1.3rem 6%;
}
/* ------------------------ /ROOT ------------------------------------ */

/* ------------------------ HEADER ------------------------------------- */
header{
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    padding: 10px 4%;  
    transition: .5s;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.menu-btn{
    display: none;
}
.menu-btn button{
    color: var(--white);
    font-size: 20px;
    height: 40px;
    width: 40px;
    border: solid 2px var(--white);
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    z-index: 5;
}
.menu-btn button:hover{
    background-color: var(--white);
    color: var(--primary-color);
}
.logo-white{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-icon{
    width: 70px;
}
.logo-name{
    width: 180px;
}
/* Estilo menu dinâmico */
header .logo .logo-green{
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

header.rolar{
    background-color: var(--white);
    box-shadow: 0px 2px 10px var(--shadown-1);
}
header.rolar .menu-btn button{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
header.rolar .menu-btn button:hover{
    color: var(--white);
    background-color: var(--primary-color);
}
header.rolar .menu-desktop li a{
    color: var(--primary-color);
}
header.rolar .btn-contact button{
    border-color: var(--primary-color);
    color: var(--primary-color);
}
header.rolar .btn-contact button:hover{
    background-color: var(--primary-color);
    color: var(--white);
}
header.rolar .logo .logo-white{
    display: none;
}
header.rolar .logo .logo-green{
    display: flex;
}
/* /Estilo menu dinâmico */

.menu-desktop ul{ 
    list-style: none;
}
.nav-itens{
    display: inline-block;
    margin: 0 20px;
    font-weight: 700;
    font-size: .9rem;
}
.nav-link{
    text-decoration: none;
    color: var(--gray-100);
    transition: .2s;
}
.menu-desktop .nav-link:hover{
    color: var(--white);
}
.btn_container{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-contact button{
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.13);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}
.btn-contact button:hover{
    background-color: var(--white);
    color: var(--primary-color);
}
/* ------------------------ /HEADER ------------------------------------ */


/* ------------------------ MAIN ------------------------------------- */
section.hero-site{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    box-shadow: 0px 2px 10px var(--shadown-1);
    position: relative;
}
.hero-site > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000066;
    width: 100%;
    height: 100%;
}
.hero-site .interface{
    display: flex;
    align-items: end;
    height: 100%;
}
.hero-site .txt-hero{
    z-index: 1;
}
.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}
.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 800;
}
.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 30px 0;
}
.hero-site .txt-hero span{
    display: block;
}
.hero-site .txt-hero button{
    width: 140px;
    height: 50px;
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
    margin-bottom: 30px;
}
.hero-site .txt-hero button:hover{
    background-color: var(--white);
    color: var(--primary-color);
}
.text-hero-final{
    font-weight: 800;
}
/* ------------------------ /MAIN ------------------------------------ */

/* ------------------------ FOOTER ------------------------------------- */
footer .interface{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    background: linear-gradient(var(--primary-color), var(--dove-gray-900), var(--black-800));
    padding: 0;
}
.footer-logo img{
    width: 150px;
    padding: 3rem 6%;
}
.newsletter{
    padding: 1.3rem 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.subscribe input{
    width: 500px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    outline: none;
}
.subscribe button{
    background-color: var(--primary-color);
    font-weight: 600;
    color: var(--white);
    border: 3px solid var(--primary-color);
    margin-left: -70px;
    border-radius: 80px;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    transition: .5s;
}
.subscribe button:hover{
    background-color: var(--white);
    color: var(--primary-color);
}
.created-by{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 1.3rem 6%;
}
.develops{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    gap: 20px;
}
.created-title h1{
    font-size: 16px;
}
.developer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.developer h1{
    font-weight: 300;
}
.developer h2{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 20px;
}
.developer span{
    color: var(--primary-color);
    font-weight: 800;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.icons a{
    text-decoration: none;
    color: var(--primary-color);
    padding: 3px 10px;
    border-radius: 10px;
    border: none;
    transition: .5s;
    background-color: white;
}
.icons a:hover{
    text-decoration: none;
    color: var(--white);
    color: var(white);
    background-color: var(--primary-color);
}
.footer{
    bottom: 0;
    position: fixed;
}
.footer-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid var(--primary-color);
    padding: 1.3rem 6%;
    font-size: 12px;
}
.footer-line a{
    text-decoration: none;
    color: var(--white);
}
.CopyRigth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* ------------------------ /FOOTER ------------------------------------ */

/* ------------------------ RESPONSIVO ------------------------------------- */
@media screen and (max-width: 1354px) {
    .hero-site .txt-hero h1{
        font-size: 3em;
        line-height: 50px;
    }
    .hero-site .txt-hero p{
        font-size: 16px;
    }
    .hero-site .txt-hero button{
        width: 90px;
        height: 30px;
        font-size: .7rem;
    }
}
@media screen and (max-width: 1180px) {
    .hero-site .txt-hero h1{
        font-size: 2.6em;
        line-height: 50px;
    }
    .developer{
        font-size: 8px;
    }
    .developer h1{
        font-size: 12px;
    }
    .developer h2{
        font-size: 10px;
    }
    .developer .icons a{
        padding: 4px;
        border-radius: 5px;
    }
    .developer .icons i{
        font-size: 12px;
    }
}
@media screen and (max-width: 960px) {
    .menu-desktop{
        display: none;
    }
    .menu-btn{
        display: flex;
    }
    .btn-contact button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: .4rem;
    }
    .logo-name{
        display: none;
    }
    .hero-site .txt-hero h1{
        font-size: 2.3em;
        line-height: 50px;
    }
    .footer-line{
        flex-direction: column;
        font-size: 10px;
    }
}
@media screen and (max-width: 815px) {
    .hero-site .txt-hero h1{
        font-size: 2rem;
        line-height: 40px;
    }
    .hero-site .txt-hero p{
        font-size: 12px;
    }
    .develops{
        flex-direction: column;
    }
    
    .footer-line{
        flex-direction: column;
        font-size: 8px;
    }
}
@media screen and (max-width: 670px) {
    .hero-site .interface{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .hero-site .txt-hero{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    }
    .hero-site .txt-hero h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.3rem;
        line-height: 30px;
        font-weight: 200;
    }
    .hero-site .txt-hero p{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 8px;
        font-weight: 300;
        margin: 5rem 0;
    }
    .hero-site .txt-hero button{
        width: 140px;
        height: 50px;
        background-color: transparent;
        color: var(--white);
        border: 2px solid var(--white);
        border-radius: 10px;
        font-weight: 700;
        font-size: 1.1rem;
        text-decoration: none;
        cursor: pointer;
        transition: .5s;
        margin-bottom: 30px;
    }
    .hero-site .txt-hero button:hover{
        background-color: var(--white);
        color: var(--primary-color);
    }
    .footer-logo img{
        width: 150px;
        padding: 3rem 6%;
    }
    .newsletter h1{
      font-size: 14px;
    }
    .newsletter p{
        font-size: 10px;
    }
    .subscribe input{
        width: 250px;
        padding: 5px 10px;
        font-size: 8px;
    }
    .subscribe button{
        color: var(--white);
        border: 2px solid var(--primary-color);
        margin-left: -70px;
        border-radius: 80px;
        padding: 5px;
        width: 70px;
        font-size: 8px;
        transition: .5s;
    }
    .subscribe button:hover{
        background-color: var(--white);
        color: var(--primary-color);
    }
}
/* ------------------------ /RESPONSIVO ------------------------------------ */
















.menu {
    list-style: none;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 60px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 45%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px var(--shadown-1);
    transition: .5s;
}
.menu li{
    padding: 10px 20px;
    text-align: end;
    font-size: 12px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
}
.menu a i{
  color: black;
  margin-left: 10px;
  font-size: 16px;
}
.menu li:hover {
    background-color: #f0f0f0;
    margin-left: 0;
    width: 100%;

}

.show-menu {
    display: flex;
}